.newscontainer{
	width:100%;
	background:;
	padding:5px;

}
.newscont{
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.9);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.9);
	box-shadow:1 1 10px rgba(0, 0, 0, 0.9);
	padding:15px;
	border-radius: 7px;
}

.sortcont{
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.imagecont {
	border-radius:0px 15px 0px 15px;
	background:red;	
	
}
.fixed{
	Position: fixed;
	top:0px;
	width:100%;
	}

.h5 {
	font-family:ubuntu;
	color:black;
	size:40px
	
}

.commentcont{
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.) inset;
}